@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 30, 30;
  --background-rgb: 255, 255, 255;
  --primary-rgb: 215, 154, 231;
  --secondary-rgb: 244, 168, 198;
  --accent-rgb: 255, 148, 148;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 30, 30, 30;
    --primary-rgb: 74, 10, 90;
    --secondary-rgb: 106, 14, 51;
    --accent-rgb: 106, 18, 28;
  }
}

body {
  background: rgb(var(--primary-rgb));
  padding: 2em;
  height: 100dvh;
}

main {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
}

button, a {
  background: rgb(var(--secondary-rgb));
  padding: .25rem .5rem;
  border-radius: .2rem;
}

a:hover, button:hover {
  background: rgb(var(--primary-rgb));
}

select, input {
  background: rgb(var(--accent-rgb));
  color: rgb(var(--foreground-rgb));
  border-radius: .2rem;
  padding: .25rem .5rem;
}

label, h3 {
  font-size: 1.2em;
}

.menu-container {
  border-color: rgb(var(--accent-rgb));
  border-radius: .3rem;
}

.balance, .income, .expense {
  padding: .4rem .8rem;
  border-radius: .3rem;
}

.balance {
  background: rgb(var(--primary-rgb));
}

.income {
  background: rgb(var(--secondary-rgb));
}

.expense {
  background: rgb(var(--accent-rgb));
}

.history {
  background: rgb(var(--secondary-rgb));
  border-radius: .3rem;
}

.transactions {
  background: rgb(var(--background-rgb));
}

.edit-btn, .delete-btn {
  padding: .25rem .5rem;
  border: 2px solid white;
}

.confirm-delete {
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
