@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 13, 2, 20;
  --background-rgb: 220, 211, 227;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 220, 211, 227;
    --background-rgb: 13, 2, 20;
  }
}

body {
  background: #7c5b8a;
  padding: 4em;
  height: 100dvh;
}

main {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

a:hover, button:hover {
  color: #b788f9;
}

button {
  background: #401f54;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
